In [70]:
import ace_tools as tools
from nba_api.stats.endpoints import leaguedashplayerstats
import pandas as pd

ModuleNotFoundError: No module named 'ace_tools'

In [72]:
## THIS SHOWS SEASON AVERAGES
## BUT CALCULATES IT MANUALLY SINCE I COULDN'T FIND THE DATA SET THAT SHOWS SEASON AVERAGES

def get_players_averages():
    player_stats = leaguedashplayerstats.LeagueDashPlayerStats(season='2023-24', season_type_all_star='Regular Season')
    df = player_stats.get_data_frames()[0]  # Extract the data frame from the response

    df_avg = df.copy()
    # MANUALLY CALCULATED AVERAGES
    df_avg['PTS'] = (df['PTS'] / df['GP']).round(1)
    df_avg['REB'] = (df['REB'] / df['GP']).round(1)
    df_avg['AST'] = (df['AST'] / df['GP']).round(1)
    df_avg['STL'] = (df['STL'] / df['GP']).round(1)
    df_avg['BLK'] = (df['BLK'] / df['GP']).round(1)
    df_avg['TOV'] = (df['TOV'] / df['GP']).round(1)
    df_avg['FGM'] = (df['FGM'] / df['GP']).round(1)
    df_avg['FGA'] = (df['FGA'] / df['GP']).round(1)
    df_avg['FG3M'] = (df['FG3M'] / df['GP']).round(1)
    df_avg['FG3A'] = (df['FG3A'] / df['GP']).round(1)
    df_avg['FTM'] = (df['FTM'] / df['GP']).round(1)
    df_avg['FTA'] = (df['FTA'] / df['GP']).round(1)
    df_avg['MIN'] = (df['MIN'] / df['GP']).round(1)
    ## additional stats
    df_avg['DD2'] = (df['DD2'])
    df_avg['TD3'] = (df['TD3'])
    df_avg['PLUS_MINUS'] = (df['PLUS_MINUS'] / df['GP']).round(1)

    per_game_averages = df_avg[['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ABBREVIATION', 
                            'GP', 'MIN', 'PTS', 'REB', 
                            'AST', 'STL', 'BLK', 
                            'TOV', 'FGM', 'FGA', 
                            'FG3M', 'FG3A', 'FTM', 
                            'FTA', 'FG_PCT', 'FG3_PCT', 'FT_PCT',
                            'DD2', 'TD3', 'PLUS_MINUS']].copy()

    return per_game_averages

player_avg_df = get_players_averages()

In [74]:
player_avg_df.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,GP,MIN,PTS,REB,AST,STL,BLK,...,FG3M,FG3A,FTM,FTA,FG_PCT,FG3_PCT,FT_PCT,DD2,TD3,PLUS_MINUS
0,1630639,A.J. Lawson,DAL,42,7.4,3.2,1.2,0.5,0.2,0.1,...,0.3,1.2,0.4,0.5,0.446,0.260,0.652,0,0,0.4
1,1631260,AJ Green,MIL,56,11.0,4.5,1.1,0.5,0.2,0.1,...,1.2,3.0,0.3,0.3,0.423,0.408,0.895,0,0,0.9
2,1631100,AJ Griffin,ATL,20,8.5,2.4,0.9,0.2,0.0,0.1,...,0.5,2.0,0.1,0.1,0.290,0.256,1.000,0,0,-2.6
3,203932,Aaron Gordon,DEN,73,31.5,13.9,6.5,3.5,0.8,0.6,...,0.5,1.9,2.4,3.7,0.556,0.290,0.658,12,0,5.8
4,1628988,Aaron Holiday,HOU,78,16.3,6.6,1.6,1.8,0.5,0.1,...,1.1,2.8,0.7,0.8,0.446,0.387,0.921,0,0,1.1

In [68]:
tools.display_dataframe_to_user(name="NBA Player Per-Game Averages (Rounded) 2023-2024", dataframe=players_per_game_averages_df)

NameError: name 'tools' is not defined

In [62]:
## create csv
player_avg_df.to_csv('player_avg_df.csv', index=False)